body{
background-color:#222;
}

#sakuno{
border:0;
padding:0;
left:50%;
margin-left:-303px;
top:50%;
margin-top:-229px;
position:fixed;
z-index:1024;
}


#charcontainer{
right:0%;
bottom:8em;
width:38em;
height:27em;
z-index:-1;
font-size:5px;
position:fixed;
}
.charf{
margin-top:2em;
margin-left:2em;
float:left;
display:inline-block;
width:4em;
height:2em;
background-color:transparent;
border-top:2em solid #3e3e3e;
border-bottom:2em solid #3e3e3e;
border-left:2em solid #3e3e3e; 
border-right:4em solid transparent;}

.charf:after{
position:relative;
left:-2em;
top:4em;
content: "";
display:block;
width:4em;
height:5em;
background-color:transparent;
border-top:1em solid #3e3e3e;
border-bottom:3em solid transparent;
border-left:2em solid #3e3e3e; 
border-right:4em solid transparent;
}

.charr{
margin-top:2em;
margin-left:2em;
float:left;
display:inline-block;
background-color:transparent;
width:6em;
height:6em;
border-top:2em solid #3e3e3e;
border-bottom:2em solid #3a3a3a;
border-left:2em solid #3a3a3a; 
border-right:2em solid #3a3a3a;
-moz-border-radius:1em  10em 10em 1em; 
-webkit-border-radius:1em  10em 10em 1em; 
border-radius: 1em  10em 10em 1em;
;
}
.charr:after{
position:relative;
display:block;
top:6em;
left:-2em;
content:"";
width:2em;
height:2em;
background-color:#3a3a3a;
box-shadow:
0 2em 0 #3a3a3a,
0 4em 0 #3a3a3a,
0 5em 0 #3a3a3a,
2em 1em 0 #3a3a3a,
3em 2em 0 #3a3a3a,
4em 3em 0 #3a3a3a,
5em 4em 0 #3a3a3a,
6em 5em 0 #3a3a3a,
7em 5em 0 #3a3a3a,
8em 5em 0 #3a3a3a
;
}
.chara{
margin-top:2em;
margin-left:2em;
float:left;
display:inline-block;
width:6em;
height:6em;
background-color:transparent;
border-top:2em solid #424242;
border-bottom:2em solid #424242;
border-left:2em solid #424242; 
border-right:2em solid #424242;
-moz-border-radius:6em  6em 1em 1em; 
-webkit-border-radius:6em  6em 1em 1em; 
border-radius: 6em  6em 1em 1em;
}
.chara:after{
position:relative;
display:block;
top:6em;
left:-2em;
content:"";
width:2em;
height:2em;
background-color:#424242;
box-shadow:
0 2em 0 #424242,
0 4em 0 #424242,
0 5em 0 #424242,
8em 0 0 #424242,
8em 2em 0 #424242,
8em 4em 0 #424242,
8em 5em 0 #424242
;
}

.charn{
margin-top:2em;
margin-left:2em;
float:left;
display:inline-block;
width:3em;
height:11em;
background-color:transparent;
border-top:2em solid #444444;
border-bottom:2em solid transparent;
border-left:2em solid #444444; 
border-right:2em solid #444444;
-moz-border-radius:6em  6em 4em 1em; 
-webkit-border-radius:6em  6em 4em 1em; 
border-radius: 6em  6em 4em 1em;
}

.charn:after{
position:relative;
display:block;
top:-2em;
left:3em;
content:"";
width:3em;
height:11em;
background-color:transparent;
border-top:2em solid transparent;
border-bottom:2em solid #444444;
border-left:2em solid #444444; 
border-right:2em solid #444444;
-moz-border-radius:4em  1em 6em 6em; 
-webkit-border-radius:4em  1em 6em 6em; 
border-radius:4em  1em 6em 6em;
}

.chart{
margin-top:2em;
margin-left:7em;
float:left;
display:inline-block;
width:3em;
height:13em;
background-color:transparent;
border-top:2em solid #4e4e4e;
border-left:3em solid transparent; 
border-right:1em solid #4e4e4e;
}

.chart:after{
position:relative;
display:block;
top:-2em;
left:4em;
content:"";
width:3em;
height:13em;
background-color:transparent;
border-top:2em solid #4e4e4e;
border-left:1em solid #4e4e4e; 
border-right:3em solid transparent;
}

.chari{
margin-top:2em;
margin-left:10em;
float:left;
display:inline-block;
width:0;
height:0;
border:1em solid #525252;
-moz-border-radius:1em  1em 1em 1em;
-webkit-border-radius:1em  1em 1em 1em;
border-radius:1em  1em 1em 1em;
}
.chari:after{
margin-top:2em;
margin-left:7em;
display:block;
content:"";
position:relative;
top:0em;
left:-8em;
width:0em;
height:10em;
background-color:transparent;
border-top:2em solid #525252;
border-left:1em solid #525252; 
border-right:1em solid #525252;
-moz-border-radius:2em  2em 0em 0em;
-webkit-border-radius:2em  2em 0em 0em;
border-radius:2em  2em 0em 0em;
}

.charc{
margin-top:2em;
margin-left:5em;
float:left;
display:inline-block;
width:6em;
height:11em;
border-left:2em solid #363636;
border-bottom:2em solid #363636;
border-top:2em solid #363636;
-moz-border-radius:1em  1em 1em 1em;
-webkit-border-radius:1em  1em 1em 1em;
border-radius:1em  1em 1em 1em;
}