@font-face { font-family: 'Alospell'; src: url("../fonts/Alospell-Oblique.otf") format("OpenType"); }
@font-face { font-family: 'SAO UI'; src: url("../fonts/SAOUI-Regular.otf") format("OpenType"); }
::-moz-selection { background: transparent; }

::selection { background: transparent; }

body { position: relative; min-height: 100vh; padding: 0; margin: 0; background-color: #0a0a0a; font-size: 18px; }

#wrapper { z-index: 2; position: fixed; left: 0; bottom: 0; }

#title { width: auto; margin: 0; padding-left: 10vw; padding-bottom: 5vh; line-height: 1.5; font-family: "SAO UI"; font-size: 18vmin; cursor: default; color: #ddd; text-shadow: 1px 1px 0px #ccc; }
#title > span { display: inline-block; }

#nav-links { padding-left: 10vw; }
#nav-links > a { display: inline-block; padding-right: 1em; font-family: "Alospell"; font-size: 7vmin; text-decoration: none; transition: text-shadow cubic-bezier(0.46, 15, 0, -1) 0.5s, transform ease 0.3s; }
#nav-links > a:link, #nav-links > a:visited { color: #b3b3b3; -webkit-transform: scale(1); transform: scale(1); text-shadow: 0 0 1px rgba(46, 173, 220, 0), 0 0 2px rgba(46, 173, 220, 0.5), 0 0 5px rgba(118, 192, 219, 0); }
#nav-links > a:hover { color: #2eaddc; -webkit-transform: scale(1.05); transform: scale(1.05); text-shadow: 0 0 1px rgba(46, 173, 220, 0.9), 0 0 2px rgba(46, 173, 220, 0.7), 0 0 5px rgba(118, 192, 219, 0.3); }
#nav-links > a:active { color: #2eaddc; -webkit-transform: scale(1.1); transform: scale(1.1); text-shadow: 0 0 1px rgba(46, 173, 220, 0.9), 0 0 2px rgba(46, 173, 220, 0.7), 0 0 5px rgba(118, 192, 219, 0.3); }

#kotori_svg_background { position: fixed; bottom: 0; right: 10vw; z-index: 1; padding: 0; max-width: 80vw; max-height: 80vh; }

#kotori_svg_curve { fill: #282828; stroke: rgba(200, 200, 200, 0.2); stroke-width: 1; transition: all ease 0.5s; }
